@import url('https://unpkg.com/css.gg@2.0.0/icons/css/search.css');

body{
    background-color: rgb(41, 41, 41);
    min-width: 480px;
}
.navbar-brand{
    color: rgb(189, 189, 189);
    font-size: xx-large;
    font-weight: 600;
    margin:15px;
}

.nav-item{
    margin-right: 10px;
    margin-left: 10px;
}

.nav-link{
    color: rgb(189, 189, 189);
    font-size: large;
}

.navbar-container{
    background-color: rgba(26, 26, 26, 1);
    flex-wrap: nowrap;
}

.navbar-toggler{
    float: right;
}

.navbar-toggler:hover{
    border: 2px solid rgb(100, 100, 100);
}

.navbar-toggler:focus{
    box-shadow: none;
}

.nav-slide-in {
    float:down;
    animation-duration: 1s;
    animation-name: slideIn;
}

#navbarRow{
    flex-wrap: nowrap;
}

#logoCol{
    float: left;
    margin: auto 0px auto;
    max-width: 400px;
}

.fa-search{
    color: rgb(189, 189, 189);;
}

#searchBar{
    float: right;
    margin: auto 0px auto;
    max-width: 400px;
    min-width: 300px;
}

#linksMenu{
    margin: auto;
    max-width: fit-content;
}

#searchBtn{
    border-color: rgb(41, 41, 41) !important;
}

#burgerMenu{
    margin: auto 0px auto;
    max-width: fit-content;
}

.input-group{
    float:right;
    flex-wrap: nowrap;
    max-width: 75%;
}

.carousel-container{
    padding: 0;
}

.cars{
    margin: 2% auto 2%;
    max-width: 1000px !important;
}

.card{
    background-color: rgba(26, 26, 26, 1);
    color: rgb(189, 189, 189);
    margin: auto;
    box-shadow: 2px 2px rgb(10, 10, 10);
    border-radius: 0px;
}

.card .btn{
    background-color: rgb(41, 41, 41);  
    border-color: rgb(189, 189, 189);
    box-shadow: 3px 3px rgb(10, 10, 10);
}

.car-col{
    padding: 2%;
}

.car-row{
    margin: auto;
}


.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(26, 26, 26, 1);
    color: rgb(189, 189, 189);
    min-height: 200px;
}

.footer-col{
    padding: 0 5% 0;
}


.footer-row{
    padding: 2%;
}

@media (max-width: 950px){
    .card{        
        max-width: 235px;
    }
}

@media (max-width: 765px){
    .card{        
        max-width: 100%;
    }
}

@media (min-width: 998px){
    #burgerMenu{
        display: none;
    }
    #logoShort{
        display: none;
    }
}

@media (max-width: 998px){
    #linksMenu{
        display: none;
    }
    .input-group{
        max-width: 100%;
    }
    #logoFull{
        display: none;
    }
    #searchBar{
        margin: auto;
        min-width: 300px;
    }
    #logoCol{
        float: left;
        max-width: fit-content;
    }
}

@keyframes slideIn {
    from {
        margin-top: -30%;
    }
    to {
        margin-top: 0%;
    }
}
