@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,600&display=swap');

body {
    color: rgb(189, 189, 189);
    background-color: rgb(41, 41, 41);
    min-width: 480px;
}

.navbar-brand {
    color: orange !important;
    font-size: xx-large;
    font-weight: 600;
    margin: 15px;
}

.nav-item {
    margin-right: 10px;
    margin-left: 10px;
}

.nav-link {
    color: rgb(189, 189, 189);
    font-size: large;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.current {
    color: orange !important;
    font-weight: bold;
}

.navbar-brand:hover {
    color: rgb(255, 255, 255) !important;
    font-weight: bolder;
}

.navbar-container {
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: rgba(26, 26, 26, 1);
    flex-wrap: nowrap;
}

.navbar-toggler {
    float: right;
}

.navbar-toggler:hover {
    border: 2px solid rgb(255, 255, 255);
}

.navbar-toggler:hover #navbarBurgerIcon {
    color: rgb(255, 255, 255);
    ;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-slide-in {
    float: down;
    animation-name: slideIn;
    animation-duration: 1s;
}

#navbarRow {
    flex-wrap: nowrap;
}

#logoCol {
    float: left;
    margin: auto 0px auto;
    max-width: 400px;
}

#searchIcon {
    color: rgb(189, 189, 189);
}


#searchBar {
    float: right;
    margin: auto 0px auto;
    max-width: 400px;
    min-width: 300px;
}

#linksMenu {
    margin: auto;
    max-width: fit-content;
}

#searchBtn {
    border-color: rgb(189, 189, 189) !important;
}


#searchBtn:hover {
    border-color: rgb(255, 255, 255) !important;
    border-width: 3px !important;
}

#searchBtn:hover>#searchIcon {
    color: rgb(255, 255, 255);
}

#burgerMenu {
    margin: auto 0px auto;
    max-width: fit-content;
}

.input-group {
    float: right;
    flex-wrap: nowrap;
    max-width: 75%;
}

#searchInput:focus+#searchBtn {
    box-shadow: 0px 0px 10px 1px rgba(200, 200, 200);
    border-color: rgb(255, 255, 255);
}

#searchInput:focus {
    box-shadow: 0px 0px 10px 1px rgba(200, 200, 200);
    border-color: rgb(255, 255, 255);
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

#searchInput:hover {
    box-shadow: 0px 0px 10px 1px rgba(200, 200, 200);
    border-color: rgb(255, 255, 255);
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.carousel-container {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    vertical-align: middle;
    padding: 0;
    margin-top: 64px;
    box-shadow: 10px 10px 15px 5px rgb(10, 10, 10);
}

.carousel-fade-in {
    animation-name: fadeIn;
    animation-duration: 3s;
}

.carousel-image {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.cars {
    margin: 2% auto 2%;
    padding-top: 2%;
    max-width: 1000px !important;
}

.card {
    background-color: rgba(26, 26, 26, 1);
    color: rgb(189, 189, 189);
    margin: auto;
    box-shadow: 10px 10px 15px 5px rgb(10, 10, 10);
    border-radius: 20px;
}

.card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card .btn {
    background-color: rgb(41, 41, 41);
    border-color: rgb(189, 189, 189);
    box-shadow: 2px 2px 5px 5px rgb(10, 10, 10);
}

h1, h3, h5 {
    color: orange !important;
}

.btn:hover {
    border-color: rgb(255, 255, 255);
    border-width: 2px;
}

.form-btn {
    color: rgb(189, 189, 189);
    background-color: rgb(41, 41, 41);
    border-color: rgb(189, 189, 189);
    box-shadow: 2px 2px 5px 5px rgb(10, 10, 10);
    border-radius: 10px;
    min-width: 25%;
    min-height: 40px !important;
}

.car-col {
    padding: 2%;
}

.car-row {
    margin: auto;
}

.car-details-container {
    color: rgb(189, 189, 189);
}

.back-to-cars:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#ourCarsLink {
    position: relative;
    width: 573px;
    height: 337px;
    margin-bottom: 2%;
    background-image: url('/Images/Backgrounds/CarsLinkBG.png');
    background-size: contain;
    border-radius: 20px;
    box-shadow: 10px 10px 15px 5px rgb(10, 10, 10);
}

#financeLink {
    position: relative;
    width: 573px;
    height: 337px;
    margin-bottom: 2%;
    background-image: url('/Images/Backgrounds/FinanceLinkBG.jpg');
    background-size: contain;
    box-shadow: 10px 10px 15px 5px rgb(10, 10, 10);
    border-radius: 20px;
}

#aboutUsLink {
    position: relative;
    height: 500px;
    background-image: url('/Images/Backgrounds/AboutUsLinkBG.jpg');
    background-position: bottom;
    background-position-x: left;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 10px 0px 15px 5px rgb(10, 10, 10);
}


#ourCarsLinkInnerDiv,
#financeLinkInnerDiv {
    position: relative;
    top: 15%;
    left: 5%;
    width: 70%;
    height: 90%;
    padding: 2%;
    opacity: 85%;
    font-size: large;
    background-color: rgb(41, 41, 41);
    border-radius: 20px;
    border-bottom-right-radius: 50px;
}


#aboutUsLinkInnerDiv {
    position: relative;
    top: 15%;
    left: 5%;
    max-width: 60%;
    max-height: 90%;
    padding: 2%;
    opacity: 85%;
    font-size: large;
    background-color: rgb(41, 41, 41);
    border-radius: 20px;
    border-bottom-right-radius: 50px;
    box-shadow: 2px 2px rgb(10, 10, 10);
}

.link-button {
    position: absolute;
    bottom: 15%;
    right: 10%;
    background-color: rgb(41, 41, 41);
    color: rgb(189, 189, 189);
    opacity: 85%;
    border-radius: 10px;
    border-color: rgb(189, 189, 189);
    min-width: 25%;
    min-height: 12.5%;
    margin-right: 2%;
    box-shadow: 2px 2px 5px 5px rgb(10, 10, 10);
}

.about-us-link-button {
    position: absolute;
    bottom: 15%;
    right: 5%;
    background-color: rgb(41, 41, 41);
    color: rgb(189, 189, 189);
    opacity: 85%;
    border-radius: 10px;
    border-color: rgb(189, 189, 189);
    min-width: 10%;
    min-height: 10%;
    box-shadow: 2px 2px 5px 5px rgb(10, 10, 10);
}

.car-page-button {
    background-color: rgb(41, 41, 41);
    color: rgb(189, 189, 189);
    border-radius: 10px;
    border-color: rgb(189, 189, 189);
    min-width: 25%;
    min-height: 40px !important;
    margin-right: 2%;
    margin-bottom: 5%;
    box-shadow: 2px 2px 5px 5px rgb(10, 10, 10);
}

.car-link{
    position: absolute;
    bottom: 0;
    background-color: rgb(41, 41, 41);
    color: rgb(189, 189, 189);
    border-radius: 10px;
    border-color: rgb(189, 189, 189);
    min-width: 25%;
    min-height: 10%;
    margin-right: 2%;
    margin-bottom: 5%;
    box-shadow: 2px 2px rgb(10, 10, 10);
}

.enquire-button {
    position: relative;
    background-color: rgb(41, 41, 41);
    color: rgb(189, 189, 189);
    border-radius: 10px;
    border-color: rgb(189, 189, 189);
    min-width: 25%;
    min-height: 10%;
    margin-right: 2%;
    margin-bottom: 5%;
    box-shadow: 2px 2px rgb(10, 10, 10);
}

.back-to-cars-button{
    background-color: rgb(41, 41, 41);
    color: rgb(189, 189, 189);
    border: solid 2px;
    border-radius: 10px;
    border-color: rgb(189, 189, 189);
    min-width: 20%;
    min-height: 40px;
    box-shadow: 2px 2px 5px 5px rgb(10, 10, 10);

}

.link-button:hover,
.enquire-button:hover,
.about-us-link-button:hover,
.car-link:hover,
.form-btn:hover,
.car-page-button:hover,
.back-to-cars-button:hover {
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-color: rgb(255, 255, 255);
    border-width: 3px;
    opacity: 100%;
    background-color: rgb(104, 104, 104);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: rgb(255, 255, 255);
}

#carImage {
    max-width: 100%;
}

#txt_prefix, #txt_prefix:hover, #txt_prefix:focus, #txt_prefix:active {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

#txt_phone, #txt_phone:hover, #txt_phone:focus, #txt_phone:active {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.footer-container {
    justify-content: center;
    align-items: center;
    background-color: rgba(26, 26, 26, 1);
    color: rgb(189, 189, 189);
}

.footer-col {
    padding: 0 5% 0;
}


.footer-row {
    padding: 2%;
}

/* ##########################################################################################################*/

.p-ubuntu {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(189, 189, 189)
}

.p-dance-font {
    font-family: 'Dancing Script', cursive;
}

.p-hr {
    width: 90%;
}

.p-a-footer {
    text-decoration: none;
    color: rgb(189, 189, 189);
    text-align: center;
}

.p-bump-facebook:hover {
    color: #4267B2;
}

.p-bump-youtube:hover {
    color: #FF0000;
}

.p-bump-instagram:hover {
    color: rgb(114, 45, 224);
}

.p-bump-twitter:hover {
    color: #1DA1F2;
}

.p-bump-pintrest:hover {
    color: #E60023;
}

.p-p-indent {
    text-indent: 50px;
}

.p-picture-about {
    width: 300px;
    border-radius: 50px;
    box-shadow: 10px 10px 15px 5px rgb(10, 10, 10);
}

.p-padding {
    padding-top: 90px
}

.p-about-text {
    color: rgb(189, 189, 189);
    padding-top: 90px;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
}

.p-text-orange {
    color: orange;
}

.p-picture-text {
    color: rgb(189, 189, 189);
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.first-word-uppercase-p::first-letter {
    -webkit-initial-letter: 4;
    initial-letter: 2;
    font-weight: bold;
    margin-right: .75em;
    font-family: 'Ubuntu', sans-serif;
}

.p-center {
    text-align: center;
}


/*    CONTACT PAGE   */

.flex-container {
    display: flex;
    font-family: 'Roboto Flex', sans-serif;
    flex: 1;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(../Images/Backgrounds/contact.jpg);
    background-size: cover;
    background-position: left;
    border-radius: 50px;
    box-shadow: 10px 10px 15px 5px rgb(10, 10, 10);

}

.right-pane {
    flex: 1;
    color: rgb(189, 189, 189) !important;
    padding: 30px;
    border-radius: 50px;
}

.left-pane {
    flex: 1;
    padding: 30px;
}

.p-orangeTxt {
    color: orange;
}

.p-margin80 {
    margin-top: 80px;
}

.p-margin80 {
    margin-top: 80px;
}

.p-paddingR50 {
    padding-right: 50px;
}


.p-btn {
    color: white;
    background-color: black;
    width: 100%;
    padding: 5px;
}

.p-btn:hover {
    color: black;
    background-color: white;
}

.p-paddingT10 {
    padding-top: 10px;
}

label {
    font-weight: bold;
}

.p-textArea {
    height: 8em;
}

.p-mapArea {
    background-color: rgba(26, 26, 26, 1);
    border-radius: 50px;
    box-shadow: 10px 10px 15px 5px rgb(10, 10, 10);
    padding: 3%;
}

.p-mapSize {
    width: 100%;
    min-height: 300px;
    max-height: 500px;
    border-radius: 25px;
}

.p-width100 {
    width: 100%;
}


.p-marginT105 {
    margin-top: 105px;
}

.form-control:focus {
    border-color: rgb(255, 255, 255) !important;
    box-shadow: 0px 0px 10px 1px rgba(200, 200, 200) !important;
    border-radius: 5px !important;
}

.form-control:hover {
    border-color: rgb(255, 255, 255) !important;
    box-shadow: 0px 0px 10px 1px rgba(200, 200, 200) !important;
    border-radius: 5px !important;
}

input:focus {
    border-color: black;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(17, 17, 17, 0.6);
}

/*    FINANCE   */

.right-pane-finance {
    flex: 1;
    color: rgb(189, 189, 189);
    padding: 30px;
    background-color: rgba(26, 26, 26, 1);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.left-pane-finance {
    flex: 1;
    background-size: cover;
    background-position: center;
    padding: 30px;
    background-color: rgba(26, 26, 26, 1);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.p-fieldset {
    border: solid 1px rgb(189, 189, 189) !important;
    border-radius: 5px;
}

.p-inputFieldset {
    width: 97%;
    padding: 5px;
    margin: auto
}

.p-fontSizeLarger {
    font-size: larger;
}

.p-marginR10 {
    margin-right: 10px;
}

.p-marginL10 {
    margin-left: 10px;
}

.p-inline-flex {
    display: inline-flex
}

.p-remBal {
    font-size: xxx-large;
    text-align: center;
}

/*    JS-CONTACT    */

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.success textarea {
    border-color: #09c372;
}

.input-control.success select {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control.error textarea {
    border-color: red;
}

.input-control.error select {
    border-color: red;
}

.input-control .error {
    color: #ff3860;
    font-size: 20px;
    height: 20px;
}

@media (max-width: 765px) {
    .flex-container {
        flex-direction: column;
    }
}

@media (max-width: 765px) {
    .left-pane {
        display: none;
    }

    .right-pane {
        background: linear-gradient(90deg, rgba(141, 136, 136, 1) 0%, rgba(198, 195, 192, 1) 41%, rgba(127, 126, 121, 1) 100%);
    }
}


@media (max-width: 765px) {
    .left-pane {
        display: none;

    }

    .right-pane {
        background: linear-gradient(90deg, rgba(141, 136, 136, 1) 0%, rgba(198, 195, 192, 1) 41%, rgba(127, 126, 121, 1) 100%);
    }
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 991px) {
    .card {
        max-width: 235px;
        min-height: 367px;
    }
}

@media (max-width: 767px) {
    .card {
        max-width: 100%;
    }

    .p-about-text {
        padding-top: 0px !important;
    }

    #ourCarsLink,
    #financeLink {
        width: 382px;
        height: 225px;
    }

    #aboutUsLink {
        height: 450px;
    }

    .left-pane-finance {
        border-bottom-left-radius: 0px;    
        border-top-right-radius: 50px;
    }
    .right-pane-finance {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 50px;    
    }
}

@media (min-width: 765px) {
    #aboutUsLinkInnerDiv {
        width: 50%;
    }

    .p-mapSize {
        height: 500px;
    }
}

@media (min-width: 991px) {
    #burgerMenu {
        display: none;
    }

    #logoShort {
        display: none;
    }

    .card {
        min-height: 375px;
    }
}

@media (max-width: 991px) {
    #linksMenu {
        display: none;
    }

    .input-group {
        max-width: 100%;
    }

    #logoFull {
        display: none;
    }

    #searchBar {
        margin: auto;
        min-width: 300px;
    }

    #logoCol {
        float: left;
        max-width: fit-content;
    }

    #hiddenMenu {
        display: contents !important;
    }

    #featuredCard {
        max-width: 95%;
    }
}

@keyframes slideIn {
    from {
        margin-top: -30%;
    }

    to {
        margin-top: 0%;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}